.containerClass {
  max-width: 100%;
}

.bgImage {
  width: 100%;
  height: 45rem;
  display: inline;
}

.main {
  position: relative;
}

.mainForm {
  position: absolute;
  right: 25%;
  left: 25%;
  bottom: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  position: relative;
  width: 100%;
}

.searchInput {
  padding-right: 20px;
  padding-left: 25px;
  width: 100%;
  border-radius: 20px;
  height: 45px;
}

.searchButton {
  position: absolute;
  background: none;
  border: none;
  right: 5px;
  top: 20%;
  transform: translateY(-50%);
  color: #888;
  font-size: 24px;
  height: 24px;
}

.searchButton:focus {
  box-shadow: none;
  outline: none;
}

.logo {
  width: auto;
  max-width: none;
  margin-bottom: 2rem;
  text-align: center;
}

.logoPart1,
.logoPart2 {
  display: inline-block;
  margin: 0;
  padding: 1.5rem;
}

:global(.btn-primary) {
  --bs-btn-hover-color: #444;
  --bs-btn-bg: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-hover-bg: transparent;
}

@media (max-width: 768px) {
  .logoPart1,
  .logoPart2 {
    display: block;
    padding: 1rem;
    height: 4.7rem;
  }

  .mainForm {
    position: absolute;
    right: 15%;
    left: 15%;
    bottom: 40%;
    flex-direction: column;
    align-items: center;
  }

  .bgImage {
    width: 100%;
    height: 35rem;
    display: inline;
    object-fit: cover;
  }
}
