.navbarCol {
  background-color: #333333;
}

.actionIcons {
  flex-direction: row-reverse;
}

.whiteIcon {
  color: white;
}

.navbarText {
  color: white;
  padding-left: 20px;
}

.navbarCol.expanded .navbarText {
  display: inline;
}

@media (min-width: 576px) {
  .navbarText {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbarCol .homeIcon {
    display: inline; /* Show home icon on xs to sm screens */
    color: white;
  }

  .navbarCol img {
    display: none; /* Hide BITSBIDS logo on xs to sm screens */
  }

  .whiteIcon {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbarCol .homeIcon {
    display: none; /* Hide home icon on md to larger screens */
  }

  /* Adjust other styles for larger screens as needed */
}
