.navbarCol {
  background-color: #333333;
}

.actionIcons {
  flex-direction: row-reverse;
}

.whiteIcon {
  color: white;
}

.navbarText {
  color: white;
  padding-left: 20px;
}

.navbarCol.expanded .navbarText {
  display: inline;
}

@media (min-width: 576px) {
  .navbarText {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .whiteIcon {
    display: none;
  }
}
