.leftColumn button {
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #cddcdf;
  color: #000000;
  cursor: pointer;
  width: 15rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.appContainer {
  display: flex;
  flex-direction: column;
}

.leftColumn {
  width: 400px;
  height: 95vh;
  background-color: #f1ede2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .leftColumn {
    width: 100vw;
  }
}
