.appContainer {
  display: flex;
}

.menuButton {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(30%, 30%, 0);
  z-index: 100;
  border: none;
  color: black;
}

.main {
  position: relative;
}

.leftColumn {
  width: 350px;
  height: 95vh;
  background-color: #f1ede2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.centeredContent {
  width: 100%;
}

.leftColumn button {
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #cddcdf;
  color: #000000;
  cursor: pointer;
  width: 15rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.smallButton {
  margin-inline: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #cddcdf;
  color: #000000;
  cursor: pointer;
  width: 5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.mediumButton {
  margin-inline: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: #cddcdf;
  color: #000000;
  cursor: pointer;
  width: 8.5rem;
  height: 3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.rightColumn {
  flex: 1;
  height: 95vh;
  padding: 20px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.enterMoneyForm1 {
  height: 3rem;
  width: 50%;
  margin-right: 1rem;
  border-radius: 10px;
  border-color: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* .enterMoneyForm2 {
  height: 50px;
  width: 20rem;
  border-radius: 10px;
  border-color: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
} */

.longButton {
  margin-inline: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #cddcdf;
  color: #000000;
  cursor: pointer;
  width: 12rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walletName {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: bold;
  line-height: 2rem;
}

.walletLabel {
  font-size: 2rem; /* Adjust as needed */
  /* Add any additional styling here */
}

@media (min-width: 769px) {
  .leftColumn {
    transform: translateX(0);
  }

  .menuButton {
    display: none;
  }

  .rightColumn {
    flex: 1;
  }
}

@media (max-width: 768px) {
  div .closed {
    display: none;
  }

  .longButton {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 25px;
  }

  .rightColumn {
    padding: 40px;
  }
}
