.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  width: 300px;
  border: 1px solid #000;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group .form-control,
.form-group .btn {
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #000 !important;
}

.button {
  background-color: #cddcdf;
  color: #000;
  align-items: center;
  border-color: #cddcdf;
}
.button:focus {
  border-color: #cddcdf;
}

.button:disabled {
  background-color: #cddcdf;
  color: #000;
  align-items: center;
  border-color: #cddcdf;
}
